body {
    margin: 0px;
}

header, footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 10em;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30em;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.img {
    max-width: 50px;
    max-height: 50px;
}

.light_mode {
    background-color: #fdfdfd;
    color: #0d0d0d;
    
}

.dark_mode {
    background-color: #0d0d0d;
    color: #fdfdfd;
    
}

/* Responsivt for mobil*/
@media (max-width: 426px) {
    .p {
        max-width: 300px;
    }

    .img {
        max-width: 100px;
    }
}

/* Responsivt for nettbrett*/
@media (max-width: 770px) {
    .p {
        max-width: 700px;
    }

    .img {
        max-width: 100%;
        max-height: 40em;
    }
}

@media (max-width: 1023px) {
    .p {
        max-width: 700px;
    }

    .img {
        max-width: 100%;
        max-height: 35em;
    }
}